.home-main
  .home-main_header
    .home-main_header_headerInner
      .home-main_header_headerInner_mainHeader
        .home-main_header_headerInner_mainHeader_icon
        .home-main_header_headerInner_mainHeader_searchBox
      .home-main_header_headerInner_nav
        %ul.home-main_header_headerInner_nav_listsLeft
          %ui.home-main_header_headerInner_nav_listsLeftlistsLeft__item-first
            カテゴリー
          %ui.home-main_header_headerInner_nav_listsLeftlistsLeft__item
            ブランド
        %ul.home-main_header_headerInner_nav_listsRight
          %ui.home-main_header_headerInner_nav_listsRight_item-login
            ログイン
          %ui.home-main_header_headerInner_nav_listsRight_item-new
            新規会員登録
  .home-main_mainVisual
    = image_tag src = "bg-mainVisual-pict_pc.jpg", size: "1440x560"
    %h2.home-main_mainVisual_content__subtitle
      人生を買えるフリマアプリ
    %p.home-main_mainVisual_content__text
      FURIMAはだれでもかんたんにかんたんに出品・購入できる

      フリマアプリです
    .home-main_mainVisual_content__btn
      %a(href="")
      %a(href="")
  .home-main_topIntroduction
    %h2.home-main_topIntroduction_subtitle
      FURIMAが選ばれる３つの理由
    %ul.home-main_topIntroduction_lists
      %li.home-main_topIntroduction_lists_list
        .home-main_topIntroduction_lists_list_pict
        %h3.home-main_topIntroduction_lists_list_text
          "3分"
          ですぐに出品
        %p.home-main_topIntroduction_lists_list_description
          スマホで入力するだけで簡単に出品できる！
    %ul.home-main_topIntroduction_lists
      %li.home-main_topIntroduction_lists_list
        .home-main_topIntroduction_lists_list_pict
        %h3.home-main_topIntroduction_lists_list_text
          "シンプル"
          で使いやすい
        %p.home-main_topIntroduction_lists_list_description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
    %ul.home-main_topIntroduction_lists
      %li.home-main_topIntroduction_lists_list
        .home-main_topIntroduction_lists_list_pict
        %h3.home-main_topIntroduction_lists_list_text
          手数料
          "業界最安"
        %p.home-main_topIntroduction_lists_list_description
          最大3%でお得に出品&購入！
  .home-main_topMiddleDl
    = image_tag src = 'bg-topMiddleDl-pict.jpg', size: "1440x400"
  .home-main_topKeyFeatures
  .home-main_pickupContainer
    .home-main_pickupContainer_new
  .home-main_pickupContainer
    .home-main_brand-new
  .home-main_banner
    = image_tag src = "bg-appBanner-pict.jpg", size: "1440x360"
  .home-main_footer
    .home-main_footer_icon