.home-main_footer
  %ul.home-main_footer_contents
    %li.home-main_footer_contents_content
      %h2.home-main_footer_contents_content_head
        FURIMAについて
      %ul.home-main_footer_contents_content_box
        %li.home-main_footer_contents_content_box_a
          =link_to "会社概要（運営会社)","#",class: "a"
        %li.home-main_footer_contents_content_box_b
          =link_to "プライバシーポリシー","#",class: "a"
        %li.home-main_footer_contents_content_box_c
          =link_to "FURIMA利用規約","#",class: "a"
        %li.home-main_footer_contents_content_box_d
          =link_to "ポイントに関する特約","#",class: "a"
    %li.home-main_footer_contents_content
      %h2.home-main_footer_contents_content_head
        FURIMAを見る
      %ul.home-main_footer_contents_content_box
        %li.home-main_footer_contents_content_box_a
          =link_to "カテゴリー一覧","#",class: "a"
        %li.home-main_footer_contents_content_box_b
          =link_to "ブランド一覧","#",class: "a"
    %li.home-main_footer_contents_content
      %h2.home-main_footer_contents_content_head
        ヘルプ＆ガイド
      %ul.home-main_footer_contents_content_box
        %li.home-main_footer_contents_content_box_a
          =link_to "FURIMAガイド","#",class: "a"
        %li.home-main_footer_contents_content_box_b
          =link_to "FURIMAロゴ利用ガイドライン","#",class: "a"
        %li.home-main_footer_contents_content_box_c
          =link_to "お知らせ","#",class: "a"
  .home-main_footer_logo
    = link_to image_tag("logo-white.png",:size => "160x46"),class:"img"
  %p.p＠FURIMA
