* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
}

.input-header{
  text-align: center;
  height: 130px;
  background-color: #eee;
  line-height: 130px;

}


.input-content{
  height: 1200px;
  background-color: #eee;
  .contbox{
    width: 700px;
    height: 1000px;
    background-color: white;
    margin: 0 auto;
    h2{
      height: 60px;
      padding: 16px;
      font-size: 18px;
      text-align: center;
    }
    .contlist{
      width: 400px;
      height: 750px;
      margin: 0 auto;
      .form-group{
        height: 50px;
      }
    }
  }
}

.inputfooter{
  background-color: #eee;
  text-align: center;
}