.login-main{
  height: 100%;
  width: 100%;
  .login-header{
    text-align: center;
    height: 130px;
    background-color: #eee;
  }
}
.sign-up-main{
  height: 409px;
  background-color: #eee;
  .sign-up-main__container{
    max-width: none;
    width: 456px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    .sign-up-main__container__title{
      text-align: center;
      margin-bottom: 40px;
    }
    .sign-up-main__container__forms{
      text-align: center;
      .form-group{
        margin-bottom: 40px;
        .teams{
          .i-n-team{

          }
          .hissu{
            color: red;
          }
        }
        .form-content{

        }
      }
      .form-group{
        .teams{
          .i-n-team{

          }
          .hissu{
            color: red;
          }
        }
        .form-content{
        }
        .form-group__content{
          .form-group__content__box{
            .form-content__radio{

            }
            .form-content__remember{

            }
          }
        }
      }
      .form-group.submit-content{
        .form-submit{
          
        }
      }
    }
  }
}
.login_footer{
  display: flex;
  flex-direction: column;
  background-color: #eee;
  .login_footer_contents{
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: bold;
    .login_footer_contents_content_box_b{
      text-align: center;
      margin: 0;
      padding: 0;
      .a{
        color: black;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
    .login_footer_contents_content_box_c{
      text-align: center;
      margin: 0;
      padding: 0;
      .a{
        color: black;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
    }
    }
    .home-main_footer_contents_content_box_d{
      text-align: center;
      margin: 0;
      padding: 0;
      .a{
        color: black;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  .login_footer_logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .img{
      width: 100%;
      vertical-align: bottom;
    }
  }
  .p{
    text-align: center;
    font-size: 14px;
  }
}