.sell-container
  = render 'single-header'
  .sell-main
    .sell-main_img
    .sell-main_text
    .sell-main_categorie
    .sell-main_delivery
    .sell-main_exhibition
  = render 'registration-footer'