
.home-main{
  box-sizing: border-box;
  @import "home_header";
  .alert{
    text-align: center;
    color: red;
    font-size: 20px;
  }
  .home-main_mainVisual{
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .home-main_mainVisual_content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      .home-main_mainVisual_content_subtitle{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      .home-main_mainVisual_content_text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      .home-main_mainVisual_content_btn{
        display: flex;
        margin: 24px 0 0 0;
        .a{
          margin-right: 10px;
          
        }
      }
    }
  }
  .home-main_topIntroduction{
    padding: 60px 20px;
    .home-main_topIntroduction_subtitle{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .home-main_topIntroduction_lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .home-main_topIntroduction_lists_list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .home-main_topIntroduction_lists_list_pict{
          position: relative;
          margin-bottom: 20px;
          .home-main_topIntroduction_lists_list_pict_number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 24px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        .home-main_topIntroduction_lists_list_text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          display: flex;
          .a{
            color:  #3CCACE;
          }
        }
        .home-main_topIntroduction_lists_list_description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
          .home-main_topIntroduction_lists_list_pict_number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 24px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
      }
      .home-main_topIntroduction_lists_list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .home-main_topIntroduction_lists_list_pict{
          position: relative;
          margin-bottom: 20px;
          .home-main_topIntroduction_lists_list_pict_number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 24px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        .home-main_topIntroduction_lists_list_text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          .a{
            color:  #3CCACE;
          }
        }
        .home-main_topIntroduction_lists_list_description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .home-main_topIntroduction_lists_list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .home-main_topIntroduction_lists_list_pict{
          position: relative;
          margin-bottom: 20px;
        }
        .home-main_topIntroduction_lists_list_text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          .a{
            color:  #3CCACE;
          }
        }
        .home-main_topIntroduction_lists_list_description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .home-main_topMiddleDl{
    background-image: image-url('bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .home-main_topMiddleDl_inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .home-main_topMiddleDl_inner_subtitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .home-main_topMiddleDl_inner_text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .home-main_topMiddleDl_inner_dt{
        display: flex;
        .a{
          margin-right: 10px;
        }
      }
    }
  }
  .home-main_topKeyFeatures{
    padding: 60px 100px;
    background-color: #fff;
    .home-main_topKeyFeatures_head{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
     }
      ::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .home-main_topKeyFeatures_items{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .home-main_topKeyFeatures_items_item{
        display: flex;
        flex-direction: column;
        width: 353px;
        height: 532px;
        text-align: center;
        padding: 0 20px;
        .home-main_topKeyFeatures_items_item_img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .home-main_topKeyFeatures_items_item_img_subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .home-main_topKeyFeatures_items_item_img_detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      .home-main_topKeyFeatures_items_item{
        display: flex;
        flex-direction: column;
        width: 353px;
        height: 532px;
        text-align: center;
        padding: 0 20px;
        .home-main_topKeyFeatures_items_item_img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .home-main_topKeyFeatures_items_item_img_subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .home-main_topKeyFeatures_items_item_img_detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      .home-main_topKeyFeatures_items_item{
        display: flex;
        flex-direction: column;
        width: 353px;
        height: 532px;
        text-align: center;
        padding: 0 20px;
        .home-main_topKeyFeatures_items_item_img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .home-main_topKeyFeatures_items_item_img_subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .home-main_topKeyFeatures_items_item_img_detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .home-main_pickupContainer {
    .home-main_pickupContainer_content{
      height: 100%;
      .home-main_pickupContainer_head {
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      .index__main__pickupContainer__headbottom {
        color: rgb(60, 202, 206);
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
    }
    .index__main__pickupContainer__lists {
      text-align: center;
      width: 220px;
      height: 245px;
      margin-left: 240px;
      justify-content: space-around;
      .index__main__pickupContainer__lists__list__itemlink{
        display: flex;
        .index__main__pickupContainer__lists__list__itemlink__items{
          background-color: white;
          margin: 50px;
          .index__header__inner__nav__listsLeft__left-btn{
            text-decoration: none;
            color: black;
            .index__main__item__image{
              width: 220px;
              height: 150px;
            }
            .index__main__pickupContainer__lists__list__itemlink_a{
              // text-decoration: none;
              .index__main__pickupContainer__lists__list__itemlink__name{
                text-decoration: none;
                display: flex;
              }
              .index__main__pickupContainer__lists__list__itemlink__price {
                text-decoration: none;
                display: flex;
              }
              .index__main__pickupContainer__lists__list__itemlink__soldout {
                color: red;
                font-size: 25px;
              }
              &__items {
                padding: 20px;
              }
            }
          }
          //   .items-box_photo__sold{
          //     width: 0;
          //     height: 0;
          //     border-top: 60px solid #ea352d ;
          //     border-right: 60px solid transparent;
          //     border-bottom: 60px solid transparent;
          //     border-left: 60px solid #ea352d ;
          //     z-index:100;
          //     position: relative;
          //     top:-320px;
          //     &__inner{
          //       transform: rotate(-45deg);
          //       font-size: 28px;
          //       margin:-35px 0px 0px -55px;
          //       color: #fff;
          //       letter-spacing: 2px;
          //       font-weight: 600;
          //     }
          //   }
          }
      }
    }
  }
  .home-main_pickupContainer{
    padding: 80px 0 0;
    height: 100%;
    .home-main_pickupContainer_head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .home-main_pickupContainer_brand-new{
      margin: 0;
      padding: 0;
      .home-main_pickupContainer_new_productHead{
        text-align: center;
        .a{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
      }
      .home-main_pickupContainer_new_productLists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
      }
    }
  }
  .home-main_banner{
    background-image: image-url("bg-appBanner-pict.jpg");
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    .home-main_banner_inner{
      color: #fff;
      text-align: center;
      .home-main_banner_inner_title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4
      }
      .home-main_banner_inner_text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      .home-main_banner_inner_icon{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        .a{
          margin-right: 10px;
        }
      }
    }
  }
}