.main{
  height: 100vh;
  background-color: #eee;
  .home-main_header{
    position: left; 
    position: relative;
    height: 130px;
    width: 100%;
    text-align: center;
    background-color: #eee;
    .home-main_header_headerInner_mainheader_icon{
      text-align: center;
      line-height: 130px;
    }
  }


























































.home-main_footer_logo{
  text-align: center;
  background-color: #eee;
  padding: 40px 0px;
  .home-main_footer_content_box_a {

  }
  .home-main_footer_content_box_b{

  }
  .home-main_footer_content_box_c {
  }
  }
p{
    text-align: center;
    background-color: #eee;
    }
  }

